.container {
  &__subject {
    font-size: $text-x-large;
    margin: 1.5rem auto;
    text-align: center;

    &--index {
      color: $primary-color;
      font-weight: 400;

      > em {
        font-style: normal;
        font-weight: 700;
      }
    }

    &--sub {
      position: relative;
      background: linear-gradient(135deg, #74d1f3 0%, #74d1f3 50%, #74d1f3 96%, rgba(116,209,243,0) 96%, rgba(116,209,243,0) 100%);
      width: $canvas-width / 1.5;
      height: $text-large * 3;
      line-height: $text-large * 3;
      color: $white;
      text-shadow: 1px 1px 3px #000;

      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        content: '';
        width: 0;
        height: 0;
        border: 10px solid;
        border-color: $primary-color transparent transparent $primary-color;
      }
    }
  }
}

.footer {
  &__notice {
    padding-top: 50px;
    width: 600px;
    color: $white;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px darken($gray, 30);

    > b {
      display: inline-block;
      width: 100%;
    }
  }
}

.btn {
  min-width: $canvas-width / 3;
  display: inline-block;
  border-radius: .5em;
  line-height: 3rem;
  font-size: $text-x-large;
  font-weight: 800;
  text-align: center;

  &--primary {
    background-color: $accent-color;
    color: $white;

    &:hover,
    &:focus {
      background-color: darken($accent-color, 30);
    }
  }

  &--secondary {
    background-color: darken($gray, 30);
    color: $white;

    &:hover,
    &:focus {
      background-color: darken($gray, 60);
    }
  }
}

.sr-only {
  margin:-1px;
  padding:0;
  clip:rect(1px, 1px, 1px, 1px);
  clip-path:inset(50%);
  overflow:hidden;
  width: 1px;
  height: 1px;

  &--inline {
    display: inline-block;
  }
}