html, body {
  min-width: $container-width;
  margin: 0;
  min-height: 100%;
}
html {
  display: flex;
  flex-flow: column;
}
body {
  flex: 1 0 100%;
  display: flex;
  flex-flow: column;
  justify-self: flex-start;
  align-items: stretch;
  align-content: stretch;
  line-height: 1.6;
  text-size-adjust: 100%;
  font-size: 16px;
  font-family: 'NanumSqure';
  background: transparent url(~Images/pattern-oreo.jpg) no-repeat center/cover;
}

.header {
  flex: 0 0 132px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: transparent url(~Images/bg-awning.png) no-repeat center bottom;
}

.footer {
  flex: 0 0 175px;
  background-color: $light-primary-color;

  &__inner {
    max-width: 980px;
    margin: 0 auto;
    height: 175px;
    background: transparent url(~Images/foot-logo.png) no-repeat right bottom;
  }
}

.container {
  flex: 1 0 100%;
  &__inner {
    max-width: 980px;
    margin: 0 auto;
  }
}

.navigator {
  display: flex;
  margin: 2rem auto 0;
  padding-bottom: 2rem;
  width: $canvas-width;
  justify-content: space-around;
  align-items: center;
}