// layout
$container-width: 980px;
$canvas-width: 640px;

// colors
$white: #fff;
$black: #000;
$gray: lighten($black, 80%);
$primary-color: #2e8de5;
$light-primary-color: #74d1f3;
$accent-color: #ff467e;
$light-accent-color: lighten($accent-color, 15%);

// fonts
$text-x-large: 1.5rem;
$text-large: 1.275rem;
$text-small: 0.875rem;
$text-x-small: 0.75rem;

// coloring
$oreo-world-background-01: #e2efdd;
$oreo-world-background-02: #addce2;
$oreo-world-background-03: #efbbc9;
$oreo-world-groupa-01: #926658;
$oreo-world-groupa-02: #ba661d;
$oreo-world-groupa-03: #e69b5d;
$oreo-world-groupb-01: #f099bf;
$oreo-world-groupb-02: #ea7098;
$oreo-world-groupb-03: #a979b3;
$oreo-world-groupc-01: #9490b5;
$oreo-world-groupc-02: #fade9b;
$oreo-world-groupc-03: #f4d9e1;
$oreo-cookie-background-01: #a0d6d0;
$oreo-cookie-background-02: #bce1f1;
$oreo-cookie-background-03: #f9e79e;
$oreo-cookie-groupa-01: #9bcbe5;
$oreo-cookie-groupa-02: #697fb7;
$oreo-cookie-groupa-03: #f5e42a;
$oreo-cookie-groupb-01: #f2afc2;
$oreo-cookie-groupb-02: #fbefb0;
$oreo-cookie-groupb-03: #6fc9ee;
$oreo-cookie-groupc-01: #f0dedf;
$oreo-cookie-groupc-02: #f8c59c;
$oreo-cookie-groupc-03: #ea9053;