<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Oreo Colorfilled</title>
</head>
<body>
  ${require('./partials/header.html')}
  <div role="main" class="container">
    <div class="container__inner">
      <h2 class="container__subject container__subject--sub">
        디자인을 선택하세요
      </h2>
      <div class="select-design">

      </div>
      <div class="navigator">
        <a href="step1.html" class="btn btn--secondary prev-step">이전 단계</a>
        <a href="step3.html" class="btn btn--primary next-step">다음 단계</a>
      </div>
    </div>
  </div>
  ${require('./partials/footer.html')}
</body>
</html>