$white: #fff;
$black: #000;
$gray: lighten($black, 80%);

$base-font: 'NanumSquare';
$base-font-family: $base-font, sans-serif;
$base-text-size: 16px;
$big-text-size: 26px;
$base-line-height: 1.6;
$base-light-weight: 200;
$base-regular-weight: 400;
$base-bold-weight: 600;
$base-extra-bold-weight: 800;
$base-transition-duration: 0.7s;
$base-width: 980px;
$base-space-between-component-top: 20px;

$z-index-level-1: 1;
$z-index-level-2: 100;
$z-index-level-3: 200;
$z-index-level-4: 300;
$z-index-level-5: 400;
$z-index-level-6: 500;
$z-index-level-7: 600;
$z-index-level-8: 700;
$z-index-level-9: 800;
$z-index-level-10: 900;

$web-font-path: '/libs/fonts/';
$ns-light-name: 'NanumSquareL';
$ns-regular-name: 'NanumSquareR';
$ns-bold-name: 'NanumSquareB';
$ns-extra-bold-name: 'NanumSquareEB';

$primary-color: #2e8de5;
$light-primary-color: #74d1f3;
$accent-color: #ff467e;
$light-accent-color: lighten($accent-color, 15%);

$primary-button-width: 170px;
$primary-button-height: 35px;
$primary-button-text-size: 20px;

$oreo-pattern-image: '/images/pattern-oreo.jpg';
$oreo-pattern-repeat: repeat;
$oreo-pattern-position: center top;

$awning-height: 132px;
$awning-images: '/images/bg-awning.png';
$awning-background: transparent url($awning-images) repeat-x center 0;

$foot-logo-image: '/images/foot-logo.png';
$foot-height: 175px;
$foot-notice-width: 550px;
$foot-notice-top-space: 50px;

$logo-image: '/images/oreo-colorfilled-logo.png';
$logo-origin-width: 510px;
$logo-origin-height: 70px;

$canvas-padding: 10px;
$canvas-width: 640px;
$canvas-height: 437px;

$step-subject-outer-space: 10px;
$step-subject-background-color: $light-primary-color;
$step-subject-width: 300px;
$step-subject-height: 60px;
$step-subject-lihe-height: 60px;
$step-subject-fold-width: 10px;

$palette-width: 55px;
$palette-height: 177px;
$palette-tab-height: 70px;
$color-picker-width: 33px;
$color-picker-height: 33px;

$oreo-world-background-01: #e2efdd;
$oreo-world-background-02: #addce2;
$oreo-world-background-03: #efbbc9;
$oreo-world-groupa-01: #926658;
$oreo-world-groupa-02: #ba661d;
$oreo-world-groupa-03: #e69b5d;
$oreo-world-groupb-01: #f099bf;
$oreo-world-groupb-02: #ea7098;
$oreo-world-groupb-03: #a979b3;
$oreo-world-groupc-01: #9490b5;
$oreo-world-groupc-02: #fade9b;
$oreo-world-groupc-03: #f4d9e1;
$oreo-cookie-background-01: #a0d6d0;
$oreo-cookie-background-02: #bce1f1;
$oreo-cookie-background-03: #f9e79e;
$oreo-cookie-groupa-01: #9bcbe5;
$oreo-cookie-groupa-02: #697fb7;
$oreo-cookie-groupa-03: #f5e42a;
$oreo-cookie-groupb-01: #f2afc2;
$oreo-cookie-groupb-02: #fbefb0;
$oreo-cookie-groupb-03: #6fc9ee;
$oreo-cookie-groupc-01: #f0dedf;
$oreo-cookie-groupc-02: #f8c59c;
$oreo-cookie-groupc-03: #ea9053;

$msg-to-position-y: 140px;
$msg-to-position-x: 70px;
$msg-to-width: 120px;
$msg-to-height: 30px;
$msg-to-line-height: 1.8;
$msg-body-position-y: 180px;
$msg-body-position-x: 60px;
$msg-body-width: 170px;
$msg-body-height: 115px;
$msg-body-line-height: 1.7;
