.awning {
  @extend %awning;

  .inner {
    height: $awning-height;
  }
}

.btn {
  @extend %button;
}

.btn-primary {
  @extend %button;
  border-radius: $primary-button-height / 5;
  border: 1px solid darken($primary-color, 8%);
  background-color: $primary-color;
  width: $primary-button-width;
  height: $primary-button-height;
  line-height: $primary-button-height;
  font-size: $primary-button-text-size;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;

  &:hover,
  &:focus {
    border-color: darken($accent-color, 8%);
    background-color: $accent-color;
  }
}

.logo {
  display: block;
  margin: 0 auto;
  width: $logo-origin-width;
  transform: translate(0, $awning-height);
  transition: all 0.6s;
}

.sub {
  .logo {
    transform: scale(0.6) translate(0, $awning-height * 0.25);
  }
}

.canvas-container {
  background-color: $white;
  margin: $base-space-between-component-top auto;
  padding: $canvas-padding;
  border: 1px solid $gray;
  width: $canvas-width;
  height: $canvas-height;
}

.delivery-notice {
  padding: $foot-notice-top-space 0 0;
  width: $foot-notice-width;
  font-size: $base-text-size;
  text-transform: uppercase;
  color: $white;

  > span {
    display: inline-block;
    width: 100%;
  }
}

.sub-subject {
  position: relative;
  margin: $step-subject-outer-space auto;
  background: linear-gradient(135deg, rgba($light-primary-color, 1) 0%, rgba($light-primary-color, 1) 50%, rgba($light-primary-color, 1) 94.6%, rgba($light-primary-color, 0) 94.6%, rgba($light-primary-color, 0) 100%);
  width: $step-subject-width;
  height: $step-subject-height;
  line-height: $step-subject-lihe-height;
  text-align: center;
  color: $white;
  font-weight: $base-bold-weight;
  text-shadow: 1px 1px 3px #000;

  &::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-width: $step-subject-fold-width;
    border-style: solid;
    border-color: $primary-color transparent transparent $primary-color;
  }
}

.slider-container {
  position: relative;
  overflow: hidden;

  .slider-inner {
    @extend %clearfix;
    width: 1000%;
    transition: all $base-transition-duration;
  }
}

.slider-item {
  width: $canvas-width;
  float: left;

  > img {
    width: 100%;
  }
}

.sr-notation {
  @extend %accessible-hidden;
}
